.animation{
    background-color: blueviolet;
    width: 100%;
    height: 200px;
   
    animation-name: animation1;
    animation-duration: 5s;
    /* animation-iteration-count: infinite; */
}
@keyframes animation1{
    from{
        /* background-color: red; */
        transform: translateY(-250px);
    }
    to{
        /* background-color: blueviolet; */
        transform: translateY(0 );
    }
   
}