
*{
    margin: 0;
    padding: 0;
}
.SCHOOL{
    background-color: antiquewhite;
    height: 50px;
   /* padding-bottom: 30px; */

}
.SCHOOL h2 {
    text-align: center;
    font-size: 3em;
}
h1{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.form-container {
    border: 2px solid black;
    width: 30%;
    height: 450px;
    margin: 0 auto;
    padding: 30px;
    text-align: left;
    margin-top: 70px;
    border-radius: 10px;
}
#userInfoForm{
   margin-left: 20px;
}

label {
   font-size: 1.5em;
   padding-top: 20px;

}

input{
    width: 50%;
    height: 25px;
    padding: 10px;
    margin-bottom: 30px;
    border-color: aqua;
}
select{
    width: 40%;
    height: 25px;
    padding: 10px;
    margin-bottom: 30px;
    border-color: aqua;
}


.save{
    font-size: 1.5em;
    position: absolute;
    /* left: 900px; */
    padding-top: 10px;
    width: 100px;
    
}
.sv{
    width: 400px;
    height: 50px;
    background-color: blue;
    color: white;
}

table {
    border-collapse: collapse;
    width: 30%;
    margin-left: 600px;
    margin-top: 50px;
}

table, th, td {
    border: 1px solid black;
    padding: 6px 30px;
}